.box{
    height:200px;
    width: 200px;
    background-color: palevioletred;
    border-radius:50px 50px 50px 50px;
    color:blueviolet;
    font-weight: bold;
    font-size:50px;
    text-align: center;
    line-height:200px;
    border:10px solid gray;

}