/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*版面設計*/
.wrap{
    margin:0 auto;
    width:1000px;
}
.header{
    height:50px;
    background-color:#FFEFD5;
}

.topmenu1{
    float: right;
}
.topmenu2{
    height: 50px;
    margin-bottom: 20px;
}
.topmenu2 li{
    float:left;
}
.topmenu2 li a{
    display:block;
    width:200px;
    background-color: skyblue;
    color:white;
    height: 50px;
    line-height: 50px;
    text-align: center;
    text-decoration:none;
}
.topmenu2 li a:hover{
    background:orange;
}

.menu1{
    width:200px;
    height: 800px;
    background-color:#FFE4E1;
    float: left;
    margin-right: 10px;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
}
.content{
    width:580px;
    height: 800px;
    background-color:rgb(228, 170, 83);
    float: left;
}
.menu2{
    width:200px;
    height: 800px;
    background-color:#FFE4E1;
    float: left;
    margin-left: 10px;
    padding:10px 10px 10px 10px;
    box-sizing:border-box;
}
.clearfix{
    clear: both;
}
.footer{
    height:50px;
    background-color:paleturquoise;
    margin-top:10px;
}