.header{
    width:300px;
    height: 300px;
    border:1px solid gray;
    position: relative;
}

.box1{
    width: 100px;
    height: 100px;
    background-color: pink;
    position:absolute;
    right: 0;
    bottom: 0;
    z-index: 3;
}
.box2{
    width: 100px;
    height: 100px;
    background-color: palevioletred;
    position:absolute;
    right: 0;
    bottom: 20px;
    z-index: 2;
}
.box3{
    width: 100px;
    height: 100px;
    background-color: purple;
    position:absolute;
    right: 0;
    bottom: 40px;
    z-index: 1;
}